html,body {
    margin:0;
    padding:0;
}

.header{
    background-color: #1F2937;
    width: 100%;
    padding:auto;
}

.menu{
    display: flex;
    padding: 30px;
    color: white;
    margin: 0%;
    overflow: auto;
    font-family: "Trirong", serif;

}

body {
    font-family: "Trirong", serif;
  }

h1{
    margin:0px;
}


ul {
    list-style-type: none;
    display: flex;
    padding-top: 5px;
    position:absolute; 
    right:80px;
    float:right;
    gap: 25px;
}

a{
    text-decoration: none;
    color: white;
}
.main-text{
    display: flex;
    padding: 0px;
    justify-content: center;
    color: white;
}

.main-text .text{
    justify-content: center;
    margin: 0px 0px 0px 70px;
    padding: 30px;
}

.information{
    justify-content: center;
    margin: auto;
    width: 60%;
    padding: 10px;
}

.information .subtext{
    display: flex;
    margin: auto;
    width: 60%;
    padding: 10px;
    gap: 10px;
}

.inspiring-quote
{
    margin: auto;
    width: 60%;
    padding: 10px;
}

.call-to-action
{
    margin: auto;
    width: 60%;
    padding: 10px;
    display: flex;
}
.button-call-to-action{
    margin: auto;
    width: 60%;
    margin-left: 500px;
}

.footer{
    background-color: #1F2937;
    margin: 10px;
}

footer{
    justify-content: center;
    margin: auto;
    width: 20%;
    padding: 20px;
    background-color: #1F2937;
    color: white;
}

.button {
    background-color: blue;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 6px 4px;
    border-radius: 12px;
}

.box{
    color: white;
    border: 5px solid blue;
    border-radius: 12px;
    padding: 10px;
    margin: 10px;
}

.inspiring-quote{
    background-color: lightgrey;
    width: 90%;
    padding:100px;
    margin: 0px;
}

.call-to-action{
    display: flex;
    background-color: lightblue;
    margin: 50px auto 50px;
    padding-top: 5px;
    padding-bottom: 1px;
}

.call-to-action .text .button-call-to-action{
    margin-right: 10px;

}

.call-to-action .text{
    padding-left: 500px;
    padding:5px;
    color: white;
    margin-bottom: 10px;
}
